{{ loxBerryHtmlHead(pageTitle|default(plugin.name), block('htmlHead')) }}
{{ loxBerryPageStart() }}

<h2>{{ plugin.name }}</h2>
<h3>{{ plugin.version }}</h3>

{% block body %}{% endblock %}

{{ loxBerryPageEnd() }}
{{ loxBerryHtmlFoot() }}
