{% extends 'admin/base.html.twig' %}

{% block htmlHead %}
<script>console.log('test');</script>
{% endblock %}

{% block body %}
    {{ logListButton('Cron', 'buttons.logfile') }}
    {{ logFileButton('Cron', 'buttons.logfile') }}
    {{ miniserverSelect('labels.miniserver') }}
    {{ logLevelSelect() }}
    <h2>{{ plugin.name }}</h2>
    <h3>{{ plugin.version }}</h3>
    <div>{{ 'test.translation'|trans }}</div>
    <div>{{ 'test.translation'|translate }}</div>
    <div>{{ trans('test.translation2') }}</div>
    <div>{{ translate('test.translation2') }}</div>

    <a data-role-btn href="{{ adminRouteUrl('logs') }}">Logs</a>

    <img src="{{ assetUrl('img/testimage.jpg') }}" />

    <form method="POST">
        <input type="text" value="{{ fieldValue }}" name="newFieldValue" />
        <button type="submit">{{ 'form.save'|trans }}</button>
    </form>
{% endblock %}
